@import "tailwindcss";
@plugin "daisyui";

:root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
}

.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet-active {
    background: #f0b100 !important;
}
